# LLM
OPENROUTER_API_KEY=your_openrouter_api_key_here
MODEL_NAME=nvidia/nemotron-3-nano-30b-a3b:free

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
FASTAPI_URL=http://localhost:8000

# Database 
DATABASE_URL="file:./prisma/dev.db"